# Virtual Environments
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary data files generated during runtime
data/*.png

# OS / IDE
.DS_Store
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
